<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <title>Vue</title>
</head>
<body>
    <div id="app1">
        <input type="text" v-model="message">
        <span>message is{{message}}</span>

        <textarea v-model="message2" cols="10" rows="10"></textarea>
        <span>message2 is {{message2}}</span>

        <input type="checkbox" v-model="checked">
        <span>{{checked}}</span><br>

        <input type="checkbox" value="乒乓球" id="ck1" v-model="checkedNames">
        <input type="checkbox" value="篮球"  v-model="checkedNames" id="ck2">
        <label for="ck1">{{checkedNames}}</label><br>


        <input type="radio" value="男生" v-model="picked"><span>男生</span>
        <input type="radio" value="女生" v-model="picked"><span>女生</span>
        <br>
        <span>你当前的性别是{{picked}}</span><br>
        <select  v-model="selected">
            <option disabled value="">请选择</option>
            <option value="A">A</option>
            <option value="B" selected>B</option>
        </select><br>
        <span>{{selected}}</span><br>

        <select v-model="selected2" multiple>
            <option value="A">A</option>
            <option value="B">B</option>
            <option value="C">C</option>
        </select>
        <span>您选择的是{{selected2}}</span>
    </div>

    <script>
        var app1=new Vue({
            el:"#app1",
            data:{
                message:"你好",
                message2:"此处是一个文本区域",
                checked:false,
                checkedNames:[

                ],
                picked:"none",
                selected:'B',
                selected2:[]
            }
        })
    </script>
</body>
</html>