<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <title>Title</title>
    <style>
        #app1{
            width:900px;
            height:900px;
            background:red;
        }
        .box{
            width:200px;
            height:100px;
            background:aqua;
            float:left;
            margin-left: 10px;
        }
        .yellow{
            background: yellow;
        }
        .big{
            width: 250px;
            height:250px;
        }
    </style>
</head>
<body>

    <div id="app1" v-bind:style="{'background':color,height:h}">
        <div class="box" v-bind:style="styleObject"></div>
        <div class="box" v-bind:class="{yellow:isYellow}"></div>
        <div class="box" v-bind:class="classObject"></div>
        <div class="box"><img v-bind:src="url" width="200px" height="200px" @click="ChangeUrl"></div>
    </div>
    <script>
        var app1=new Vue({
            el:"#app1",
            data:{
                color:"green",
                h:"100px",
                isYellow:true,
                styleObject:{
                    background:"red",
                    width:"300px",
                    height:"300px"
                },
                classObject:{
                    yellow:true,
                    big:true
                },
                url:"http://news.cnhubei.com/ctjb/ctjbsgk/ctjb40/200808/W020080822221006461534.jpg",
                state:true
            },
            methods:{
                ChangeUrl: function () {
                    if(this.state==true){
                        this.url="http://img.zcool.cn/community/010f725a086869a801204a0e850472.jpg@2o.jpg";
                        this.state=false;
                    }else {
                        this.url="http://news.cnhubei.com/ctjb/ctjbsgk/ctjb40/200808/W020080822221006461534.jpg";
                        this.state=true;
                    }

                }
            },
            watch:{
                /*url: function () {
                    this.url="http://news.cnhubei.com/ctjb/ctjbsgk/ctjb40/200808/W020080822221006461534.jpg"
                }*/
            }
        });
    </script>
</body>
</html>